@import url('https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,100..900;1,100..900&family=Tilt+Prism&display=swap');

$font-title : 'Tilt Prism';
$font-text : 'Chivo';

$bg-color : #3C3C3C;
$main-color : #E98A3A;
$second-color : #F8A763;
$green : #50CC51;
$red : #FC0505;
$orange : #FF6A00;