@import url("https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,100..900;1,100..900&family=Tilt+Prism&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
}

html {
  overflow-x: hidden;
  height: 100%;
}

body {
  background: #D9D9D9;
  color: black;
  display: flex;
  flex-direction: column;
  font-family: black;
  min-height: 100vh;
}

section {
  width: 100vw;
}

.container {
  width: 100vw;
  max-width: 1080px;
}

span {
  color: black;
}

a {
  text-decoration: none;
  color: black;
}

.no-scroll {
  overflow: hidden;
}

.hidden {
  display: none;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-thumb {
  background-color: black;
}

::-webkit-scrollbar-track {
  background-color: black;
}

/* From Uiverse.io by vk-uiux */
#checkbox {
  display: none;
}

.toggle {
  position: relative;
  width: 40px;
  cursor: pointer;
  margin: auto;
  display: block;
  height: 34px;
}

.bar {
  position: absolute;
  left: 0;
  right: 0;
  height: 4px;
  border-radius: 2px;
  background: #E98A3A;
  color: inherit;
  opacity: 1;
  transition: none 0.35s cubic-bezier(0.5, -0.35, 0.35, 1.5) 0s;
}

/***** Collapse Animation *****/
.bar--top {
  bottom: calc(50% + 6px + 2px);
  transition-property: bottom, margin, transform;
  transition-delay: 0.35s, 0s, 0s;
}

.bar--middle {
  top: calc(50% - 2px);
  transition-property: top, opacity;
  transition-duration: 0.35s, 0s;
  transition-delay: 0.455s, 0.455s;
}

.bar--bottom {
  top: calc(50% + 6px + 2px);
  transition-property: top, transform;
  transition-delay: 0s;
}

#checkbox:checked + .toggle .bar--top {
  bottom: calc(50% - 11px - 4px);
  margin-bottom: 13px;
  transform: rotate(45deg);
  transition-delay: 0.105s, 0.455s, 0.455s;
}

#checkbox:checked + .toggle .bar--middle {
  top: calc(50% + 11px);
  opacity: 0;
  transition-duration: 0.35s, 0s;
  transition-delay: 0s, 0.35s;
}

#checkbox:checked + .toggle .bar--bottom {
  top: calc(50% - 2px);
  transform: rotate(-45deg);
  transition-delay: 0.455s, 0.455s;
}

/* M O B I L E   F I R S T */
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #3C3C3C;
}
header .container .logo-header {
  display: flex;
}
header .container .logo-header img {
  width: 35px;
}
header .container .title-header h1 {
  font-family: "Tilt Prism";
  font-size: clamp(40px, 10vw, 50px);
  color: #E98A3A;
  font-weight: 100;
}
header .container .hamburger label {
  width: 25px;
}

.hero .container {
  display: flex;
  justify-content: center;
  text-align: center;
  background: linear-gradient(180deg, rgb(60, 60, 60) 30%, rgb(217, 217, 217) 30%);
}

.button {
  margin: 2rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F8A763;
  border-radius: 50%;
  height: 12rem;
  width: 12rem;
  box-shadow: 5px 5px 12px 0px rgba(0, 0, 0, 0.25);
}
.button h2 {
  font-family: "Chivo";
  font-size: 1.8rem;
  font-weight: 200;
  text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.3);
}

.first-section-result {
  margin-bottom: 20px;
}
.first-section-result .container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 30px;
}
.first-section-result .container .result-container {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  gap: 8px;
  align-items: center;
  background-color: #F8A763;
  padding: 10px;
  border-radius: 5vw;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
}
.first-section-result .container img {
  width: 40px;
}
.first-section-result .container .emoji-wait {
  width: 20px;
}

footer .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #3C3C3C;
  gap: 5px;
}
footer .container .first-footer-section {
  display: flex;
}
footer .container .first-footer-section .logo-footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .container .first-footer-section .logo-footer img {
  width: 17px;
  height: 18px;
}
footer .container .first-footer-section .title-footer h1 {
  font-family: "Tilt Prism";
  font-size: clamp(20px, 5vw, 25px);
  color: #E98A3A;
  font-weight: 100;
}
footer .container .second-footer-section .copyright {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: flex-end;
  gap: 5px;
}
footer .container .second-footer-section .copyright p {
  color: #D9D9D9;
  font-size: 2vw;
  text-align: right;
}/*# sourceMappingURL=style.css.map */