@import url("https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,100..900;1,100..900&family=Tomorrow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
}

html {
  overflow-x: hidden;
  height: 100%;
}

.all {
  width: 425px;
  background-color: #D9D9D9;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  background: black;
  color: black;
  display: flex;
  flex-direction: column;
  font-family: black;
  min-height: 100vh;
  align-items: center;
}

section {
  width: 100vw;
}

.container {
  width: 100vw;
  max-width: 425px;
  justify-self: center;
}

span {
  color: black;
}

a {
  text-decoration: none;
  color: black;
}

.no-scroll {
  overflow: hidden;
}

.hidden {
  display: none;
}

::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar-thumb {
  display: none;
}

::-webkit-scrollbar-track {
  display: none;
}

/* From Uiverse.io by vk-uiux */
#checkbox {
  display: none;
}

.toggle {
  position: relative;
  width: 40px;
  cursor: pointer;
  margin: auto;
  display: block;
  height: 34px;
}

.bar {
  position: absolute;
  left: 0;
  right: 0;
  height: 4px;
  border-radius: 2px;
  background: #E98A3A;
  color: inherit;
  opacity: 1;
  transition: none 0.35s cubic-bezier(0.5, -0.35, 0.35, 1.5) 0s;
}

/***** Collapse Animation *****/
.bar--top {
  bottom: calc(50% + 6px + 2px);
  transition-property: bottom, margin, transform;
  transition-delay: 0.35s, 0s, 0s;
}

.bar--middle {
  top: calc(50% - 2px);
  transition-property: top, opacity;
  transition-duration: 0.35s, 0s;
  transition-delay: 0.455s, 0.455s;
}

.bar--bottom {
  top: calc(50% + 6px + 2px);
  transition-property: top, transform;
  transition-delay: 0s;
}

#checkbox:checked + .toggle .bar--top {
  bottom: calc(50% - 11px - 4px);
  margin-bottom: 13px;
  transform: rotate(45deg);
  transition-delay: 0.105s, 0.455s, 0.455s;
}

#checkbox:checked + .toggle .bar--middle {
  top: calc(50% + 11px);
  opacity: 0;
  transition-duration: 0.35s, 0s;
  transition-delay: 0s, 0.35s;
}

#checkbox:checked + .toggle .bar--bottom {
  top: calc(50% - 2px);
  transform: rotate(-45deg);
  transition-delay: 0.455s, 0.455s;
}

/* M O B I L E   F I R S T */
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #3C3C3C;
}
header .container .logo-header {
  display: flex;
}
header .container .logo-header img {
  width: 35px;
}
header .container .title-header h1 {
  font-family: "Tomorrow";
  font-size: clamp(40px, 10vw, 50px);
  color: #E98A3A;
  font-weight: 100;
}
header .container .hamburger label {
  width: 25px;
  z-index: 2;
}
header .container .overlay {
  position: absolute;
  top: 0;
  right: 0;
  width: 0vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: brightness(50%) blur(5px);
  z-index: 1;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  transition: all 0.3s ease-in-out;
}
header .container .overlay .menu {
  margin-top: 120px;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  opacity: 0;
  transition: all 1s ease-in-out;
}
header .container .overlay .menu h3 {
  text-align: center;
  font-size: 2rem;
  color: #DEDEDE;
  font-weight: 400;
  font-family: "Chivo";
  text-transform: uppercase;
}
header .container .overlay .menu h3 i {
  font-size: 16px;
}
header .container .overlay .menu .text {
  padding: 0px 20px;
  font-family: "Chivo";
  font-weight: 200;
  font-size: 1rem;
  color: white;
}
header .container .overlay .menu .text span {
  color: #E98A3A;
  font-weight: 800;
}
header .container .overlay .menu .social {
  display: flex;
  gap: 50px;
}

.hero .container {
  display: flex;
  justify-content: center;
  text-align: center;
  background: linear-gradient(180deg, rgb(60, 60, 60) 50%, rgb(217, 217, 217) 50%);
}
.hero .container .button {
  margin: 2rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(45deg, #E98A3A 0%, #F8A763 60%);
  border-radius: 50%;
  height: 12rem;
  width: 12rem;
  box-shadow: 5px 5px 12px 0px rgba(0, 0, 0, 0.25);
}
.hero .container .button h2 {
  font-family: "Tomorrow";
  font-size: 1.8rem;
  font-weight: 300;
  text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.3);
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes show {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
@keyframes hide {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}
.button-animate {
  animation: rotate 1s linear;
}

.start-animate {
  animation: hide 1s linear forwards;
}

.result-animate {
  animation: show 1s linear forwards;
}

.first-section-result {
  margin: 30px 0 20px 0;
}
.first-section-result .container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 30px;
  gap: 30px;
  perspective: 1000px;
}
.first-section-result .container .result-container {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  gap: 8px;
  align-items: center;
  background-color: #F8A763;
  padding: 20px 20px;
  border-radius: 30px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
}
.first-section-result .container img {
  width: 60px;
}
.first-section-result .container .emoji-wait {
  width: 40px;
}

@keyframes turn {
  0% {
    transform: rotateX(0deg);
  }
  100% {
    transform: rotateX(360deg);
  }
}
.turn-card {
  animation: turn 1s linear;
}

.second-section-map #map {
  border-radius: 20px;
  height: 283px;
  z-index: 0;
  margin-top: 68px;
}

footer .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #3C3C3C;
  gap: 5px;
}
footer .container .first-footer-section {
  display: flex;
}
footer .container .first-footer-section .logo-footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .container .first-footer-section .logo-footer img {
  width: 17px;
  height: 18px;
}
footer .container .first-footer-section .title-footer h1 {
  font-family: "Tomorrow";
  font-size: clamp(20px, 5vw, 25px);
  color: #E98A3A;
  font-weight: 100;
}
footer .container .second-footer-section .copyright {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: flex-end;
  gap: 5px;
}
footer .container .second-footer-section .copyright p {
  color: #D9D9D9;
  font-size: 10px;
  text-align: right;
}/*# sourceMappingURL=style.css.map */