.first-section-result{
  margin: 30px 0 20px 0;
  .container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 30px;
    gap: 30px;
    perspective: 1000px;
    .result-container{
      display: flex;
      flex-direction: column-reverse;
      justify-content: space-between;
      gap: 8px;
      align-items: center;
      background-color: $second-color;
      padding: 20px 20px;
      border-radius: 30px;
      box-shadow: 0 0 15px rgba($color: #000000, $alpha: .7);
    }
    img{
      width: 60px;
    }
    .emoji-wait{
      width: 40px;
    }
  }
}

@keyframes turn {
  0%{
    transform : rotateX(0deg);
  }
  100%{
    transform : rotateX(360deg);
  }
}

.turn-card{
  animation : turn 1s linear;
}