.second-section-map{
  .container{
    border-radius: 20px;
    height: 335px;
    img{
      height: 100%;
      width: auto;
      filter: blur(2px);
      width: 100%;
      object-fit: cover;
      padding-top: 50px;
    }
  }
}