.second-section-map{
  .container{
    border-radius: 20px;
    height: 335px;
    padding-top: 50px;
    .img-frame{
      display: block;
      border: none;
      outline: none;
      box-shadow: none;
    }
  }
}